table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table#tb tr:nth-child(even) {
    background-color: #eee;
}

table#tb tr:nth-child(odd) {
    background-color: #fff;
}

#tbhr th {
    background-color: black;
    color: white;
}