/* Imports */

@import url(fonts.css);
@import url(animation.css);
@import url(ver3.1.css);

*, *::before, *::after {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #16161a;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

/* Nav Bar */
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    animation: fadeInDown .8s;
}

header nav .header_links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header nav .header_links ul li, section.main ul li {
    list-style-type: none;
}

header nav .header_links ul li a {
    outline: none;
    text-decoration: none;
    color: #a6a8b8;
    padding: 5px 12px;
    transition: 0.3s all;
    font-size: 15px;
}

header nav .header_links ul li a:hover {
    color: white;
}

header nav .header_logo img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* border-radius: 100%;
    object-fit: cover; */
    /* border: 5px solid #3b3d4e93; */
    /* border: 5px solid #41425293; */

}

/* Responsive nav bar */

@media only screen and (max-width: 630px) {
    header nav {
        display: flex;
        flex-direction: column;
    }
    header nav .header_logo {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    header nav .header_links ul {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    animation: fadeInUp .8s;
}

.main .logo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    /* border: 10px solid #21222b93; */
    border: 10px solid #41425293;
    /* cursor: pointer; */
    margin-bottom: 10px;
    pointer-events: none;
}

.main span {
    color: #fffffe;
    font-size: 40px;
    font-weight: bold;
    pointer-events: none;
}

.main .typo {
    position: relative;
    top: 50%;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    color: #94a1b2;
    font-size: 13px;
    animation: typewriter1 2s steps(44) 1s 1 normal both, blinkTextCursor 530ms steps(44) infinite normal;
}

.main ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main ul li a {
    color: #a6a8b8;
    display: flex;
    text-decoration: none;
    margin: 20px 5px;
    font-size: 25px;
    padding: 5px;
    transition: 0.2s all;
}

.main ul li a:hover {
    transition: 0.2s all;
    color: #fff;
}

/* Sub */
.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* min-height: 70vh; */
    animation: fadeInUp .8s;
}
.sub p{
    white-space: nowrap;
    color: #94a1b2;
    font-size: 13px;
}
.sub h4 {
    position: relative;
    top: 50%;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    color: #94a1b2;
    animation: typewriter2 5s steps(44) 1s 1 normal both, blinkTextCursor 600ms steps(44) infinite normal;
}
.sub a {
    color: #5a7cc7;
    transition: 0.5s all;
    text-decoration: none;
}
.sub a:hover {
    color: #c75a68;
    /* color: #fff; */
    /* color: #dbd57b; */
}

/* Logo */
#main-logo {
    height: 60px;
    padding-left: 15px;
    padding-top: 3px;
    float: right;
    filter: contrast(100) brightness(100);
}
#main-logo-small {
    padding-left: 5px;
    float: right;
    filter: contrast(100) brightness(100);
}
#logo-link {
    text-decoration: none;
    color: #fff;
}

/* Sections */
.page1 {
    min-height: 100vh;
}
.page2 {
    min-height: 90vh;
}