/* CSS Box Model Padding Margin Border*/

.h1 {
    background: red;
    padding: 20px;
    margin: 30px;
    /* border-style: solid; */
    /* border-width: 10px; */
    /* border-color: green; */
    border-bottom-style: dashed;
    border-bottom-width: 5px;
    border-bottom-color: #222;
}

.p1 {
    background: blue;
    padding: 20px;
    margin: 100px 20px 20px 50px;
    border: 13px solid yellowgreen;
}