@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* design */
#block {
    background-color: rgba(128, 128, 128, 0.466);
    text-align: center;
    text-decoration: underline;
}

/* 
    font-size font-family
*/

.body1 {
    font-family:'Courier New', Courier, monospace;
}

.h11 {
    font-family: Verdana;
}

/* Google Fonts */

.body2 {
    font-family: 'Open Sans', sans-serif;
}

.h12 {
    font-family: 'Luxurious Roman', cursive;
}

/* font-weight font-style */

.body3 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.main {
    font-family: 'Luxurious Roman', cursive;
}

.subheading {
    font-style: normal;
}

.one {
    font-weight: bold;
    font-style: italic;
}

.two {
    font-weight: lighter;
    font-style: oblique;
}

/* text-align text-indent */

.body4 {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

.main1 {
    font-family: 'Luxurious Roman', cursive;
    text-align: center;
}

.one1 {
    text-indent: 10rem;
}

.two1 {
    text-align: left;
}

/* line-height letter-spacing word-spacing text-transform text-decoration */

a.a1 {
    font-size: 40px;
    text-decoration: none;
}

.body5 {
    text-transform: uppercase;
}

.h13 {
    text-transform: lowercase;
    text-decoration: line-through;
}

.one2 {
    line-height: 0.5em;
}

.two2 {
    letter-spacing: 5px;
    text-decoration: overline;
}

.three {
    word-spacing: 20px;
    text-decoration: underline;
}